<div class="container">
    
    <h3>Enter your details below</h3>
        <form action="/result" method="POST">
            <label class="city" for=city>City:</label>
            <input class="city" type="text" name="city" value=<%= session[:city] %>>
            <label class="city" for=state>State:</label>
            <input class="city" type="text" name="state" value=<%= session[:state] %>><br><br>
            <label for="distance">Distance to flag:</label>
            <select name="distance">
                <% yards = 50 %>
                <% 201.times do %>
                    <% if yards == 150 %>
                        <option selected="selected"><%= yards %></option>
                    <% else %>
                        <option><%= yards %></option>
                    <% end %>
                    <% yards += 1 %>
                <% end %>
            </select><br><br>
            <label for="elevation">Is the green above, below, or level with you?</label>
            <select name="elevation">
                <option value="default">Level</option>
                <option value="above">Above</option>
                <option value="below">Below</option>
            </select><br><br>
            <label for="feet">By how many feet roughly?</label>
            <select name="feet">
                <option value="default">0</option>
                <% feet = 5 %>
                <% 20.times do %>
                    <option><%= feet %></option>
                    <% feet += 5 %>
                <% end %>
            </select><br><br>
            <label for="direction">What direction is the wind blowing</label>
            <select name="direction">
                <option value="default">N/A</option>
                <option value="inface">In the face</option>
                <option value="behind">Behind me</option>
                <option value="partfront">Partially in the face</option>
                <option value="partbehind">Partially behind me</option>
            </select><br><br>
            <label for="slope">Is your lie downhill, uphill, or even?</label>
            <select name="slope">
                <option value="default">Even</option>
                <option value="downhill">Downhill</option>
                <option value="uphill">Uphill</option>
            </select><br><br>
            <label for="rough">Are you in the rough?</label>
            <select name="rough">
                <option value="default">No</option>
                <option value="yes">Yes</option>
            </select><br><br>
            <label for="rough">If 'yes' are you Sitting Up, Partially Buried,<br> or Completely Buried?</label>
            <select name="rough" default="">
                <option value="default">N/A</option>
                <option value="up">Sitting Up</option>
                <option value="part">Partially Buried</option>
                <option value="buried">Completely Buried</option>
            </select><br><br>
            <label for="rain">Is it raining or wet out?</label>
            <select name="rain">
                <option value="default">No</option>
                <option value="yes">Yes</option>
            </select><br><br>
            <label for="bunker">Are you in a bunker?</label>
            <select name="bunker">
                <option value="default">No</option>
                <option value="yes">Yes</option>
            </select><br><br>
            <input class="tell-me" type="submit" value="Tell Me My Yardage!"><br><br>
        </form>
</div>
