<div class="container">


  <div class="extra-stuff">
    <p class="yard-heading">Your adjusted yardage:</p>
    <p class="yard-adj"><%= @yardage_adj.to_i %></p><br>
    <% if @slope == "downhill" %>
    	<p class="slope-lie">Aim a bit left and play the ball towards your back foot</p><br>
    <% elsif @slope == "uphill" %>
    	<p class="slope-lie">Aim a bit right and play the ball towards your front foot</p><br>
 	<% end %>
    <p class="yard-heading">Actual yardage:</p>
    <p class="yard-act"><%= @yardage_orig %></p><br>
  </div>
  <form method="get" action="/">
  	<input class="tell-me" type="submit" value="Setup another shot"><br><br>
  </form>
  <div class="factors">
	<h3>Yardage Adjustments</h3>
	<p>Temperature (<%= @temp %>°): <%= @temp_change.to_i %> yards </p>
	<p>Elevation (<%= @elevation == "level" ? @elevation : "#{@feet}ft #{@elevation}" %>): <%= @elevate_change.to_i %> yards </p>
	<p>Wind (<%= @wind %>mph <%= @direction %>): <%= @wind_change.to_i %> yards </p>
	<p>Slope (<%= @slope %>): <%= @slope_change.to_i %> yards </p>
	<p>Rough (<%= @rough %>): <%= @rough_change .to_i %> yards </p>
	<p>Rain/Wet (<%= @rain %>): <%= @rain_change %> yards </p>
	<p>Bunker (<%= @bunker %>): <%= @bunker_change %> yards </p>
</div>
</div>
