<div class="container">


  <div class="extra-stuff">
    <p class="yard-heading">Your adjusted yardage:</p>
    <p class="yard-adj"><%= @yardage_adj.to_i %></p><br>
    <p class="yard-heading">Actual yardage:</p>
    <p class="yard-act"><%= @yardage_orig %></p><br>
  </div>

  <a href='/'>Setup another shot</a><br><br>
  <h3>Factors</h3>
  <p>Temperature: <%= @temp_change %> yards </p>
  <p>Elevation: <%= @elevate_change %> yards </p>
  <p>Wind: <%= @wind_change %> yards </p>
  <p>Stance: <%= @slope_change %> yards </p>
  <p>Rough: <%= @rough_change %> yards </p>
  <p>Rain/Wet: <%= @rain_change %> yards </p>
  <p>Bunker: <%= @bunker_change %> yards </p>

</div>
